{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">Echanger mes Check'Coins</h1>
    <div class="row">
        <div class="col-12 col-md-6 text-center p-4">
            <img class="img-fluid" style="border:solid 5px #fff;" src="{{ asset('assets/images/conversion.jpg') }}"
                 alt="">
        </div>
        <div class="col-12 col-md-6 text-center" style="padding-top: 60px;">
            <button class="btn btn-success">Convertir mes Check'Coins en argent réel !</button>
        </div>
    </div>

    <h1 class="text-center">Articles</h1>
    <div class="row p-4">
        <div class="col-12 col-md-6 text-center">
            <img src="{{ asset('assets/images/achat1.jpg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="{{ asset('assets/images/achat1.jpg') }}" class="img-fluid" alt="">
        </div>
    </div>
{% endblock %}