{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('assets/images/header-utilisateurs.png') }}" alt="">
        <img class="img-fluid" src="{{ asset('assets/images/menu-utilisateurs.png') }}" alt="">
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Je m'inscris !<br>
            <hr>
            25
            Check'Coins
            offerts !</a>
    </div>
{% endblock %}