{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-12 text-center" style="padding-top: 40px;padding-bottom:40px;">
        <h1>Voici le code de votre lot :</h1>
        <h1>{{ lot.code }}</h1>
    </div>
{% endblock %}